<%- include('../includes/header')%>
    <div class="login blockCenter mt20">
        <div class="logo_login blockCenter">
            <img class="logo_login__img" src="/images/full-logo.png" alt="logo">
        </div>
        <div class="login__title">
            <%= title %>
        </div>
        <% if(type==='email' ) {%>
            <p class="login__subtitle">Enter your email address below and we'll send you instructions on how to change
                your password</p>
            <% } %>
                <form action="<%= action %>" method="POST">
                    <input type="hidden" name="csrf" value="<%=csrf%>">
                    <% if(type==='email' ) {%>
                        <div class="input-field login__inputfield">
                            <input class="input login__input <%=error('email')%>" type="text" 
                            autocomplete="off" name="email"placeholder="Email" />
                            <div class="login__icon">
                                <img src="/images/email-icon.png" alt="">
                            </div>
                        </div>
                        <% } else { %>
                            <input type="hidden" name="reset_token" value="<%= reset_token %>">
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <div class="input-field login__inputfield">
                                <input class="input login__input <%=error('password')%>" autocomplete="off" type="password" name="password"
                                    placeholder="password" />
                                <div class="login__icon login__icon--password">
                                    <img src="/images/password-icon.png" alt="">
                                </div>
                            </div>
                            <div class="input-field login__inputfield mb50">
                                <input class="input login__input <%=error('password2')%>" autocomplete="off" type="password" name="password2"
                                    placeholder="confirm password" %>" />
                                <div class="login__icon login__icon--password">
                                    <img src="/images/password-icon.png" alt="">
                                </div>
                            </div>
                            <% } %>
                            <button class="btn login__btn" type="submit">SEND</button>
                </form>
    </div>
    <%-include('../includes/footer')%>